.determinants,
.determinants-play-area {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.determinants .multiplication #select,
.determinants .division #select,
.find-minors,
.find-co-factors,
.find-adjoint,
.division {
	width: 100%;
}

@media (max-width: 600px) {
	.determinants .result {
		flex-direction: column;
	}
}
