.sets, .sets-play-area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.difference-symbol, .intersection-symbol, .phi-symbol, .product-symbol, .symmetric-difference-symbol, .union-symbol {
    display: inline-block;
    margin: 0 1px;
}