.matrices-input {
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px 0;
}

.matrices-input input {
  text-align: center;
}

.matrices-input #select,
.matrices-input div.label {
  width: 100%;
}

@media (max-width: 320px) {
  .matrices-input {
    flex-direction: column;
  }
  .matrices-input #select {
    font-size: 2rem;
  }
}
