.play-area {
    padding: 10px 10px;
}

.play-area, .sets, .matrices, .mensuration, .probability, .functions, .permutations-and-combinations {
    min-height: 100vh;
    background-color: var(--dark-blue);
}

.info {
    font-weight: lighter;
    margin-top: 10px;
    color: var(--white);
    font-size: 1.2rem;
}