.play-area {
	padding: 10px;
}

.play-area {
	min-height: 100vh;
	background-color: var(--dark-blue);
}

.sets,
.matrices,
.mensuration,
.probability,
.functions,
.permutations-and-combinations {
	min-height: calc(100vh - 20px);
	background-color: var(--dark-blue);
}

.matrices input,
.determinants input {
	margin: 0 5px;
	text-align: center;
}

.sets .label,
.matrices .label,
.determinants .label {
	min-width: 66px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.info {
	text-align: center;
	font-weight: lighter;
	margin: 10px 0 5px 0;
	color: var(--white);
	font-size: 1.2rem;
}

label,
.label {
	min-width: fit-content !important;
	text-align: center;
	color: var(--white);
	font-size: 2rem;
	margin: 0 10px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.result {
	margin: 10px 5px;
	font-weight: lighter;
	color: var(--white);
	font-size: 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	word-wrap: break-word;
	word-break: break-word;
}

.matrices .result,
.determinants .result {
	align-items: center;
}

@media (max-width: 580px) {
	label,
	.label {
		min-width: auto !important;
		font-size: 1.8rem;
	}
	.result {
		font-size: 1.8rem;
	}
}

@media (max-width: 420px) {
	.result,
	label,
	.label {
		font-size: 1.6rem;
	}
}

@media (max-width: 380px) {
	.result,
	label,
	.label {
		font-size: 1.4rem;
	}
}

@media (max-width: 320px) {
	.result,
	label,
	.label {
		min-width: fit-content !important;
		font-size: 1.8rem;
	}
}

@media (max-width: 220px) {
	.result,
	label,
	.label {
		font-size: 1.6rem;
	}

	.matrices input,
	.determinants input {
		margin: 0 2px;
	}
}
